.contentWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.cardsWrapper {
  position: relative;
  width: 750px;
  min-height: 836px;
  padding: 30px 30px 50px 30px;
  border: 2px solid #364C84;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 242px) 40px;
  column-gap: 29px;
  row-gap: 30px;
  list-style-type: none;
}

.searchInput {
  display: flex;
  position: absolute;
  top: -54px;
  right: 0;
  input {
    border: none;
    width: 300px;
    height: 36px;
    border-radius: 10px;
    padding: 9px;
  }
}








